.search_section{
    box-shadow:var(--shadow_1);
}
.search_section .search_bar{
    background-color:var(--dark_2);
    color:var(--light_1);
    border:none;
}
.search_section .search_bar::placeholder{
    color:var(--light_1);
}
.search_section .search_icon{
    border:none;
    color:white;
}


.blog_card{
    background-color:var(--dark_2);
    color:var(--light_1);
    border:none;
    box-shadow:var(--shadow_1);
}
.blog_card .date{
    color:var(--light_1);
    font-weight:300;
}




.recent_blog_card{
    background-color:var(--dark_2);
    border:none;
    box-shadow:var(--shadow_1);
    color:var(--light_1);
}
.recent_blog_card .date{
    font-weight:250;
}

