/*  */
.card-text{
    font-weight: 300;
}
.portfolio_section{
    display:flex;
    justify-content:center;
}
.portfolio_section .card{
    height:100%;
    border:none;
    border-radius:10px;
    box-shadow:var(--shadow_1);
}
.portfolio_section .card .card-body{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    background-color: var(--dark_2);
    color:var(--light_1);
}
.portfolio_section .col{
    min-height:100%;
}
.portfolio_section .portfolio_title{
    font-size:1.5em;
    font-weight:500;
    margin:0px;
    position:relative;
}
.portfolio_date, .portfolio_location{
    color:var(--light_1);
    margin:0px;
    font-weight:400;
}



