@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.section_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding:100px;
}

.section_card {
  position: relative;
  isolation: isolate;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  overflow: hidden;
  padding: 5rem 2rem 2rem;
  background-color: var(--dark_2);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.section_card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--sunset);
  z-index: -1;
  transition: 0.5s;
}

.section_card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  color: white;
}

.section_card h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--sunset);
  transition: 0.3s;
}

.section_card p {
  margin-bottom: 2rem;
  color: var(--light_1);
  font-weight:200;
  text-align:justify;
  transition: 0.3s;
}

.section_card img {
  margin-bottom: 1rem;
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid var(--sunset);
  transition: 0.3s;
}

.section_card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--sunset);
  transition: 0.3s;
}

.section_card h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--light_1);
  transition: 0.3s;
}

.section_card:hover::before {
  width: 400%;
}

.section_card:hover :is(h4, h5) {
  color: var(--light_4);
}

.section_card:hover :is(p, h6) {
  color: var(--secondary-color);
}

.section_card:hover img {
  border-color: var(--light_4);
}



